bosdyn_core==3.2.2.post1
bosdyn-client
bosdyn-mission
bosdyn-choreography-client
Django
keyboard==0.13.5
numpy==1.23.3
opencv_python==4.6.0.66
Pillow==9.2.0
PyOpenGL==3.1.6
uvicorn==0.17.6
django-cors-headers
glfw
whitenoise
websockets
