bosdyn_core==3.1.2
bosdyn-client
bosdyn-mission
bosdyn-choreography-client
Django
keyboard==0.13.5
numpy==1.23.0
opencv_python==4.6.0.66
Pillow==9.1.1
PyOpenGL==3.1.6
uvicorn==0.17.6
django-cors-headers
glfw
whitenoise
websockets
