<html>
    <head>
        <title>Spot Control</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}" >
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    </head>
    <body>
        <h1>Spot Control Panel</h1>
        <h1 id="isRunning" style="font-size: 20px; color: yellow">
            <!-- Reflects whether or not the background process is running when the page loads -->
            {% if is_running %}
                Background process is running
            {% else %}
                Background process is not running
            {% endif %}
        </h1>
        <div class="container" id="main-container">
            <div class="panel">
                <div class="bg-process-container">
                    <div class="form">
                        <button id="bgStart">Connect</button>
                    </div>
                    <div class="form">
                        <button id="bgEnd">Disconnect</button>
                    </div>
                </div>
                <div class="program-container">
                    <div class="form">
                        <button id="runProgram">
                            {% csrf_token %}
                            Run Program
                        </button>
                    </div>
                </div>
            </div>
            <div class="output">
                <p id="output"></p>
            </div>
        </div>
        <div class="ctrl">
            <button id="toggle" onclick="toggle()">keyboard control</button>
            <p class="key" id="space">Walk Mode</p>
            <p class="key" id="w">W</p>
            <p class="key" id="a">A</p>
            <p class="key" id="s">S</p>
            <p class="key" id="d">D</p>
    
            <p class="key" id="q">Q</p>
            <p class="key" id="e">E</p>
    
            <p class="key" id="r">R</p>
            <p class="key" id="f">F</p>
            <input type="" id="ctrl">
        </div>


        <script>
            // Creates a link used to connect the websocket. Necessary because the IP of the server may change based on what device
            // is accessing it (localhost) or the network it is connected to
            // This solution isn't great but it works. There's probably a better way to do it
            var href = "ws" + window.location.href.substring(4, window.location.href.length - 1) + "/ws/";
            socket = new WebSocket(href);
            var socket_index = null;

            // Function to get the cookie for sending some commands
            // Not sure how it works, just copy and pasted it
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            // Needed for sending files
            var csrftoken = getCookie('csrftoken');
            
            // Handles socket messages from the server
            socket.onmessage = function(message) {
                // Parses the JSON
                var data = JSON.parse(message['data'])
                // If the message is indicating that a socket has been created, store the socket's index (more of an ID: see websocket.py)
                // for future use. Also sends a message back to ensure that the connected was successful
                if (data["type"] == "socket_create") {
                    socket_index = data["socket_index"];
                    addOutput("Successfully connected to the server at <green>socket index " + socket_index + "</green>");
                }
                // Updates the yellow text that tells whether or not the background process is running
                else if (data["type"] == "bg_close"){
                    $("#isRunning").html("Background process is running");
                }
                // General output
                else if (data["type"] == "output") {
                    addOutput(data["output"]);
                }
                else {
                    addOutput("<red>Type not recognized: " + data["type"] + "</red>");
                }
            };
            
            // Socket closes when 1) the web page closes or is reloaded 2) the server reloads during development
            // This command can be inconsistent, which is why extra code is needed in websocket.py
            socket.onclose = function(message) {
                setTimeout(function() {
                    addOutput("<red>Socket " + socket_index + " has closed.<br> You should be seeing this only if the server is being worked on.</red>");
                }, 500);
            }

            // Adds output to the client console and scrolls to the bottom. Text can be added to a new line or
            // on the same line.
            function addOutput(text, sameLine=false) {
                if (sameLine) {
                    $("#output").html($("#output").html() + " " + text);
                }
                else {
                    $("#output").html($("#output").html() + "<br>> " + text);
                }
                $("#output").scrollTop($("#output").scrollTop() + 100);
            }

            // Used for sending a request to the server
            function sendRequest(url) {
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: {
                        // Socket index is sent so the server knows which socket to use for output
                        "socket_index" : socket_index
                    },
                    success: function(response) {
                        ;
                    },
                    error: function(response) {
                        addOutput("<red>Server error: " + response["status"] + ".</red>");
                        // A 500 error is generally caused by the socket being closed when output tries to be sent back
                        if (response["status"] == "500") {
                            addOutput("Did the socket close? If so, try reloading.", true)
                        }
                    }
                });
            }

            // Runs the program from a file
            $("#runProgram").click(function() {
                sendRequest("{% url 'runProgram' %}");
            });

            // Starts the background process
            $('#bgStart').click(function() {
                sendRequest("{% url 'startProcess' %}");
            });

            // Ends the background process
            $('#bgEnd').click(function() {
                sendRequest("{% url 'endProcess' %}");
            });

            // Sends a message to the server letting it know that the socket is closing. This command is inconsistent
            // and not always sent, requiring extra code in websocket.py
            $(window).on("beforeunload", function() { 
                socket.send(JSON.stringify({
                    action: 'unload'
                }))
            })

        </script>
        <script>
            var robot_mode = "Walk";
            var toggled = true;
            var valid_keys = ['q', 'e', 'w', 'a', 's', 'd', 'r', 'f', ' '];
            var keys_pressed = {
                w: false,
                a: false,
                s: false,
                d: false,
                q: false,
                e: false,
                r: false,
                f: false,
                space: false
            }
            var refresh_rate = 0.2;

            function toggle() {
                if (toggled) {
                    toggled = false
                    $("#toggle").html("keyboard control");
                    $(".ctrl").css({"top": "-140px"});
                }
                else {
                    toggled = true;
                    $("#toggle").html("/\\");
                    $(".ctrl").css({"top": "0"});
                    $("#ctrl").focus();
                }
            }

            function getKey(e) {
                var evtobj = window.event? event : e;
                var unicode= evtobj.charCode? evtobj.charCode : evtobj.keyCode;
                var key_name = String.fromCharCode(unicode).toLowerCase()
                return key_name;
            }

            $("#ctrl").keypress(function (e) {
                
                $("#ctrl").val("");

                var key_pressed = getKey(e);
                if (key_pressed == " ") {
                    $("#space").addClass("key-selected");
                }
                else if (valid_keys.includes(key_pressed)) {
                    $("#" + key_pressed).addClass("key-selected");
                    keys_pressed[key_pressed] = true;
                }
            });

            $("#ctrl").keyup(function (e) {
                
                $("#ctrl").val("");

                var key_pressed = getKey(e);
                if (key_pressed == " ") {
                    $("#space").removeClass("key-selected");
                    robot_mode = robot_mode == "Walk" ? "Stand" : "Walk";
                    $("#space").html(robot_mode + " Mode");
                    keys_pressed['space'] = true
                }
                else if (valid_keys.includes(key_pressed)) {
                    $("#" + key_pressed).removeClass("key-selected");
                    keys_pressed[key_pressed] = false;
                }
            });

            var cmdLoop = null;

            $("#ctrl").focus(function() {
                socket.send(JSON.stringify({
                    action: 'keyboard_control_start'
                }));
                cmdLoop = setInterval(function() {
                    var send_keys = false;
                    for (var key in keys_pressed) {
                        if (keys_pressed[key]) {
                            send_keys = true;
                            break;
                        }
                    }
                        
                    if (send_keys) {
                        socket.send(JSON.stringify({
                            action: 'key_press',
                            keys_pressed: keys_pressed
                        }));
                        keys_pressed['space'] = false
                    }
                }, refresh_rate * 1000);
            });

            $("#ctrl").focusout(function() {
                socket.send(JSON.stringify({
                    action: 'keyboard_control_release'
                }))
                clearInterval(cmdLoop);
            })
        </script>
    </body>
</html>
