<html>
    <head>
        <title>Spot Control</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}" >
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    </head>
    <body>
        <h1>Spot Control Panel</h1>
        <div class='battery'>
            <div class="bar">
                <p id="b_p"></p>
            </div>
        </div>
        <p id="b_r"></p>
        <h1 id="isRunning" style="font-size: 20px; color: var(--yellow);">
            <!-- Reflects whether or not the background process is running when the page loads -->
            {% if is_running %}
                Background process is running
            {% else %}
                Background process is not running
            {% endif %}
        </h1>
        <div id="estop-container">
            {% if is_running %}
                <button id="estop" style="background-color: var(--red); border: none; cursor: pointer">ESTOP</button>
            {% else %}
                <button id="estop">Robot is not connected</button>
            {% endif %}
        </div>
        <div class="container" id="main-container">
            <div class="panel">
                <div class="bg-process-container">
                    <div class="form">
                        <button id="bgStart">Start All</button>
                    </div>
                    <div class="form">
                        <button id="bgEnd">End Main Loop</button>
                    </div>
                </div>
                <div class="bg-process-container">
                    <div class="form">
                        <button id="connectRobot">Connect to Robot</button>
                    </div>
                    <div class="form">
                        <button id="getEstop">Acquire Estop</button>
                    </div>
                    <div class="form">
                        <button id="getLease">Acquire Lease</button>
                    </div>
                </div>
            </div>
            <div class="output">
                <p id="output"></p>
            </div>
        </div>
        <h1 style="margin-top: 100px; margin-bottom: -80px;">Programs</h1>
        <div class="container" id="programs-container">
            <div class="program-list-container">
                <div class="program-list">
                    {% for program in programs %}
                        <br><button id="program" onclick=displayProgram("{{ program }}")>{{ program }}</button>
                    {% endfor %}
                </div>
                <div class="run-program-container">
                    <p id="program-name"></p>
                    <div class="program-controls">
                        <button id="runProgram">
                            {% csrf_token %}
                            Run
                        </button>
                        <button id="removeProgram">
                            {% csrf_token %}
                            Remove
                        </button>
                    </div>
                </div>
            </div>
            <div class="program-info">
                <p id="program-info"></p>
            </div>
        </div>
        <div class="ctrl">
            <button id="toggle" onclick="toggle()">keyboard control</button>
            <p class="key" id="space">Walk Mode</p>
            <p class="key" id="w">W</p>
            <p class="key" id="a">A</p>
            <p class="key" id="s">S</p>
            <p class="key" id="d">D</p>
    
            <p class="key" id="q">Q</p>
            <p class="key" id="e">E</p>
    
            <p class="key" id="r">R</p>
            <p class="key" id="f">F</p>

            <p class="key" id="z">Z<br><small>Self Right</small></p>
            <p class="key" id="x">X<br><small>Roll Over</small></p>
            <input type="" id="ctrl">
        </div>
        <div class="video-feed">
            <div class="front">
                <img id="front">
            </div>
            <div class="sides">
                <div class="left">
                    <img id="left">
                </div>
                <div class="right">
                    <img id="right">
                </div>
            </div>
            <div class="back">
                <img id="back">
            </div>
            
        </div>

        <script>
            var urls = {
                get_program: "{% url 'get_programs' %}",
                remove_program: "{% url 'remove_program' %}",
                estop_release: "{% url 'estop_release' %}",
                estop: "{% url 'estop' %}",
                run_program: "{% url 'runProgram' %}",
                start_process: "{% url 'startProcess' %}",
                end_process: "{% url 'endProcess' %}",
                connect: "{% url 'connect' %}",
                disconnect_robot: "{% url 'disconnect_robot' %}",
                clear_estop: "{% url 'clear_estop' %}",
                clear_lease: "{% url 'clear_lease' %}",
                get_estop: "{% url 'get_estop' %}",
                lease: "{% url 'lease' %}",
                get_state: "{% url 'get_server_state' %}"
            }
        </script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/keyboard.js' %}"></script>
        <script src="{% static 'js/style.js' %}"></script>
    </body>
</html>
