<html>
    <head>
        <title>Spot Control</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}" >
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    </head>
    <body>
        <h1>Spot Control Panel</h1>
        <div class='battery'>
            <div class="bar">
                <p id="b_p"></p>
            </div>
        </div>
        <p id="b_r"></p>
        <h1 id="isRunning" style="font-size: 20px; color: var(--yellow);"></h1>
        <div id="estop-container">
            <button id="estop"></button>
        </div>
        <div class="container" id="main-container">
            <div class="panel">
                <div class="bg-process-container">
                    <div class="form">
                        <button id="bgStart">Start All</button>
                    </div>
                    <div class="form">
                        <button id="bgEnd">End Main Loop</button>
                    </div>
                </div>
                <div class="bg-process-container">
                    <div class="form">
                        <button id="connectRobot">Connect to Robot</button>
                    </div>
                    <div class="form">
                        <button id="getEstop">Acquire Estop</button>
                    </div>
                    <div class="form">
                        <button id="getLease">Acquire Lease</button>
                    </div>
                </div>
            </div>
            <div class="output">
                <p id="output"></p>
            </div>
        </div>
        <h1 style="margin-top: 100px; margin-bottom: -80px;">Programs</h1>
        <div class="container" id="programs-container">
            <div class="program-list-container">
                <div class="program-list">
                </div>
                <div class="run-program-container">
                    <p id="program-name"></p>
                    <div class="program-controls">
                        <button id="runProgram">
                            Run
                        </button>
                        <button id="removeProgram">
                            Remove
                        </button>
                        <div id="toggle-accept-command">
                            <p id="accept-command-state"></p>
                            <button id="toggle-accept-command-button">
                                <small>Toggle</small>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="program-info">
                <p id="program-info"></p>
            </div>
        </div>
        <div class="ctrl">
            <button id="toggle" onclick="toggle()">keyboard control</button>
            <p class="key" id="space">Walk Mode</p>
            <p class="key" id="w">W</p>
            <p class="key" id="a">A</p>
            <p class="key" id="s">S</p>
            <p class="key" id="d">D</p>
    
            <p class="key" id="q">Q</p>
            <p class="key" id="e">E</p>
    
            <p class="key" id="r">R</p>
            <p class="key" id="f">F</p>

            <p class="key" id="z">Z<br><small>Self Right</small></p>
            <p class="key" id="x">X<br><small>Roll Over</small></p>
            <input type="" id="ctrl">
        </div>
        <div class="video-feed">
            <div class="front">
                <img id="front">
            </div>
            <div class="back">
                <img id="back">
            </div>
        </div>

        <script>
            // Need to declare these inside of the html file so we can take
            // advantage of the django server urls defined in urls.py
            var urls = {
                get_program: "{% url 'get_programs' %}",
                remove_program: "{% url 'remove_program' %}",
                estop_release: "{% url 'estop_release' %}",
                estop: "{% url 'estop' %}",
                toggle_accept_command: "{% url 'toggle_accept_command' %}",
                run_program: "{% url 'run_program' %}",
                start_process: "{% url 'start_process' %}",
                end_process: "{% url 'end_process' %}",
                connect: "{% url 'connect' %}",
                disconnect_robot: "{% url 'disconnect_robot' %}",
                clear_estop: "{% url 'clear_estop' %}",
                clear_lease: "{% url 'clear_lease' %}",
                get_estop: "{% url 'get_estop' %}",
                lease: "{% url 'lease' %}",
                get_state: "{% url 'get_server_state' %}"
            }
        </script>
        <script>
            function update_server_state(state) {
                if (state.server_has_estop == true) {
                    $("#estop").css({
                        "background-color": "var(--red)",
                        "border": "none",
                        "cursor": "pointer"
                    });
                    $("#estop").html("ESTOP");
                    $("#getEstop").html("Clear Estop")
                }
                else if (state.server_has_estop == false){
                    $("#estop").html("Robot is not connected");
                    $("#getEstop").html("Acquire Estop")
                }

                if (state.server_has_lease == true) {
                    $("#getLease").html("Clear Lease");
                }
                else if (state.server_has_lease == false) {
                    $("#getLease").html("Acquire Lease");
                }

                if (state.robot_is_connected == true) {
                    $("#connectRobot").html("Disconnect Robot");
                }
                else if (state.robot_is_connected == false){
                    $("#connectRobot").html("Connect to Robot");
                }

                if (state.background_is_running == true) {
                    $("#isRunning").html("Background process is running");
                }
                else if (state.background_is_running == false) {
                    $("#isRunning").html("Background process is not running");
                }

                if (state.is_accepting_commands == true) {
                    $("#accept-command-state").html("Accepting Commands");
                }
                else if (state.is_accepting_commands == false) {
                    $("#accept-command-state").html("Blocking Commands");
                }
            }

            onload = () => {
                var server_info;
                $.ajax({
                    type: "GET",
                    url: window.location.href + "get-server-state",
                    data: {
                        // Socket index is sent so the server knows which socket to use for output
                        socket_index: -1,
                        selected_program: "",
                    },
                    success: update_server_state,
                    error: (response) => {
                        addOutput("<red>Issue reading server information: " + response["status"] + ".</red>");
                        // A 500 error is generally caused by the socket being closed when output tries to be sent back
                        if (response["status"] == "500") {
                            addOutput("Did the socket close? If so, try reloading.", true);
                        }
                    },
                });                
            };
        </script>
        <script src="{% static 'js/programs.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/keyboard.js' %}"></script>
        <script src="{% static 'js/style.js' %}"></script>
        <script defer>
            program_handler.get_programs();
        </script>
    </body>
</html>
